// Variables
$color-white: #FAFAFA;
$color-white-alpha:rgba(255,255,255,0.4);
$color-cream: #f5f3f0;
$color-cream-alpha:rgba(227, 221, 211, 0.4);

$color-blue-100:#edf1f3;
$color-blue-200:#7CB1CA;
$color-blue-300:#3980AA;
$color-blue-400:#3C5E70;
$color-blue-500:#203a48;
$color-blue-alpha:rgba(0, 102, 255, 0.1);


$color-blue-light: $color-blue-100;
$color-blue-soft: $color-blue-200;
$color-blue-main: $color-blue-300;
$color-blue-dark: $color-blue-400;
$color-blue-darker: $color-blue-500;
$color-blue-darkest: $color-blue-500; //to be eliminated**


$color-green-light: #e8ebe0;
$color-green-main: #79854f;
$color-green-dark: #525d2e;
$color-green-alpha: rgba(199, 205, 169, 0.3);

$color-red-main: #A84844;
$color-red-light: #d4a5a2;
$color-red-alpha: rgba(168, 72, 68, 0.1);

$color-neutral: #5c584f;
$color-neutral-light: #6B7280;
$color-neutral-lighter: hsl(220, 9%, 70%);

$color-cards-background: radial-gradient(circle, rgba(0, 102, 255, 0.05) 0%, rgba(255, 255, 255, 0.50) 100%);
$color-shadows:rgba(136, 159, 194, 0.1);
$color-shadows-dark:rgba(32,58,72, 0.25);

// Fonts
$font-bricolage: 'Bricolage Grotesque', sans-serif;
$font-fascinate: 'Fascinate', 'Bricolage Grotesque', sans-serif;
$font-anonymous: 'Anonymous Pro', monospace;


//Typography Size
$font-size-4xl: 48px;
$font-size-3xl: 40px;
$font-size-2xl: 32px;
$font-size-xl: 28px;
$font-size-l: 22px;
$font-size-base: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;

//Typography Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//Spacings
$space-4:0.25rem;
$space-8:0.5rem;
$space-12:0.75rem;
$space-14:0.875rem;
$space-16:1rem;
$space-20:1.25rem;
$space-22:1.37rem;
$space-24:1.5rem;
$space-28:1.75rem;
$space-30:1.875rem;
$space-32:2rem;
$space-36:2.25rem;
$space-40:2.5rem;
$space-60:3.75rem;
$space-80:5rem;
$space-120:7.5rem;
